{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="columns" style="text-align: center;" >
            <h3>Sistema de Controle de Reservas</h3>
            <img class="thumbnail" src="{{ asset('imagens/hotel.jpg') }}">
        </div>
    </div>

{% endblock %}
