
h4.titulo {
    font-family: Verdana;
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
}

a.button {
    float: right;
}

a.hollow {
    margin-right: 5px;
}

.centro {
    text-align: center;
}

.dt_entrada {
    color: #228B22;
}

.dt_saida {
    color: #B8860B;
}

a[class*="hollow"] {
    float: none;
}
