{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
        <h4></h4>

        <form action="" method="post">
            <div class="medium-4  columns">
                <label>Título</label>
                <select name="">
                    <option value="">Selecione um título</option>
                </select>
            </div>
            <div class="medium-8  columns">
                <label>Nome</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-12  columns">
                <label>Endereço</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-4  columns">
                <label>CEP</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-4 columns">
                <label>Cidade</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-4  columns">
                <label>Estado</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-12  columns">
                <label>Email</label>
                <input name="" value="" type="text" />
            </div>
            <div class="medium-12  columns">
                <input type="submit" value="SALVAR" class="button success hollow" />
                <a class="hollow button alert" href="{{ path('hospede.index') }}">CANCELAR</a>
            </div>
        </form>
        </div>
    </div>

{% endblock %}
